table {
  border-collapse: collapse;

  width: 100%;
}
thead tr {
  padding: 18px 0 18px 16px;
}

thead tr th {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.16px;
  padding: 18px 0 18px 16px;
  color: #495057;
}

tbody td {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.16px;
  color: #868e96;
}

th,
td {
  text-align: left;
}

th {
  padding: 16px;
}
td {
  padding: 12px 16px;
  height: 51.9px;
}

tbody tr:nth-child(odd) {
  background-color: #f7f7f8;
}
tbody tr:nth-child(odd) td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

tbody tr td:first-child {
  color: #495057;
}

tbody tr:nth-child(odd) td:last-child {
  border-top-right-radius: 8px;

  border-bottom-right-radius: 8px;
}

.survey-status {
  padding: 6px 12px 5px 12px;
  border-radius: 32px;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.16px;
  color: #495057;
}

.tableFixHead {
  margin-top: 38px;
  overflow-y: auto;
  height: 75vh;
  border-bottom: 1px #dee2e6 solid;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
}

th {
  background: white;
}
